<div style={{if tall 'margin-bottom: 40px;'}} class={{if fullscreen 'box fullscreen' 'box'}}>
  <div class='left'>
    <button class='btn btn-default' {{action 'previous'}} style='width: 100%;'><span class='glyphicon glyphicon-arrow-left'></span></button>
    <div style='text-align: right; height: 30px;'>
      {{#if entries.length}}
        {{readable_index}} of {{entries.length}}
      {{/if}}
    </div>
    {{#unless update_revision_object}}
      {{#if session.isAuthenticated}}
        <div style='margin-top: 50px;'>
          <button class={{if current_entry.performed 'btn btn-primary' 'btn btn-default'}} title="We Tried this Activity" style='width: 100%; height: 60px; margin-bottom: 2px;' {{action 'perform' current_entry}}><span class='glyphicon glyphicon-ok'></span></button>
          {{#if allow_skip}}
            <button class={{if current_entry.skipped 'btn btn-primary' 'btn btn-default'}} title="Skip this Activity" style='width: 100%; height: 60px;' {{action 'skip' current_entry}}><span class='glyphicon glyphicon-remove'></span></button>
          {{/if}}
        </div>
      {{/if}}
    {{/unless}}
  </div>
  <div class='middle'>
    {{#if current_entry}}
      <div class='entry'>
        <div style='text-align: center;'>
        {{#if current_entry.perform_details}}
          <div style='height: 222px; text-align: left;' class='row'>
            <div class='col-sm-4'>
              <img src={{current_entry.image.image_url}} style='width: 100px; height: 100px; object-fit: contain; object-position: center;'/>
            </div>
            <div class='col-sm-8' style='padding-left: 0;'>
              {{#if save_status.saving}}
                {{t "Saving..." key='saving'}}
              {{else if save_status.error}}
                {{t "Error, save failed" key='saving_failed'}}
              {{else}}
                {{t "This activity was completed on:" key='activity_completed'}}
              {{/if}}<br/>
              <span style='display: inline-block; width: 55%;'>
                {{input type='date' class='form-control' value=current_entry.perform_details.date}}
              </span>
              <span style='display: inline-block; width: 42%;'>
                {{input type='time' class='form-control' value=current_entry.perform_details.time}}
              </span>
              <div style='margin: 3px 0;'>
                <span style='display: inline-block; margin: 0; width: 23.5%;'>
                  <button class={{current_entry_classes.level_1_class}} {{action 'set_success_level' current_entry 1}}>
                    <span class='face sad'></span>
                    Poor
                  </button>
                </span>
                <span style='display: inline-block; margin: 0; width: 23.5%;'>
                  <button class={{current_entry_classes.level_2_class}} {{action 'set_success_level' current_entry 2}}>
                    <span class='face neutral'></span>
                    Ok
                  </button>
                </span>
                <span style='display: inline-block; margin: 0; width: 23.5%;'>
                  <button class={{current_entry_classes.level_3_class}} {{action 'set_success_level' current_entry 3}}>
                    <span class='face happy'></span>
                    Good
                  </button>
                </span>
                <span style='display: inline-block; margin: 0; width: 23.5%;'>
                  <button class={{current_entry_classes.level_4_class}} {{action 'set_success_level' current_entry 4}}>
                    <span class='face laugh'></span>
                    Super
                  </button>
                </span>
              </div>
            </div>
            <div class='col-sm-12'>
              {{textarea class='form-control' rows='2' value=current_entry.perform_details.notes placeholder="Additional notes"}}
              <div style='margin-top: 3px;'>
                <button class='btn btn-primary' {{action 'close_perform_details' current_entry}}>{{t "Done" key='done'}}</button>
                <button class='btn btn-default' {{action 'unperform' current_entry}}>{{t "Undo" key='undo'}}</button>
              </div>
            </div>
          </div>
        {{else}}
          {{#if book_type}}
            <a href={{current_entry.url}} class='dim_until_hover' target='_blank' style='position: relative; display: block;'>
              {{image-with-attribution stretch=true image=current_entry.image tall=tall border=false url=current_entry.url fullscreen=fullscreen}}
              <span class={{entry_class}} style='position: absolute; font-size: 50px; left: 20px; top: 20px; color: #fff; text-shadow: 2px 2px 5px #444, -2px -2px 5px #444, -2px 2px 5px #444, 2px -2px 5px #444; '></span>
            </a>
          {{else if video_type}}
            <a href={{current_entry.url}} class='dim_until_hover' target='_blank' style='position: relative; display: block;'>
              {{image-with-attribution stretch=true image=current_entry.image tall=tall border=false url=current_entry.url fullscreen=fullscreen}}
              <span class={{entry_class}} style='position: absolute; font-size: 80px; left: calc(50% - 40px); top: calc(50% - 40px); color: #fff; text-shadow: 2px 2px 5px #444, -2px -2px 5px #444, -2px 2px 5px #444, 2px -2px 5px #444; '></span>
            </a>
          {{else}}
            <div target='_blank' style='position: relative; display: block;'>
              {{image-with-attribution stretch=true image=current_entry.image tall=tall border=false url=current_entry.url fullscreen=fullscreen}}
              <span class={{entry_class}} style='opacity: 0.7; position: absolute; font-size: 50px; left: 20px; top: 20px; color: #fff; text-shadow: 2px 2px 5px #444, -2px -2px 5px #444, -2px 2px 5px #444, 2px -2px 5px #444; '></span>
            </div>
          {{/if}}
        {{/if}}
        {{#if include_sentence}}
          <strong>"{{current_entry.sentence}}"</strong><br/>
        {{/if}}
        {{#if include_url}}
          <a href={{current_entry.url}} target="_blank">{{current_entry.text}}</a>
        {{else}}
          {{current_entry.text}}
        {{/if}}
        <div class='entry_description'>
          {{#if description}}
            {{current_entry.description}}<br/>
          {{/if}}
          {{#if related_words}}
            {{current_entry.related_words}}<br/>
          {{/if}}
        </div>
        </div>
      </div>
    {{else}}
      <div class='blank_entry'>
        {{t "No Entries Added" key='no_entries_yet'}}
      </div>
    {{/if}}
  </div>
  <div class='right'>
    <button class='btn btn-default' {{action 'next'}} style='width: 100%;'><span class='glyphicon glyphicon-arrow-right'></span></button>
    {{#if update_revision_object}}
      <button class='btn btn-default' {{action 'confirm_revision'}} style='width: 100%;'>
        {{#if update_action}}
          <span class='glyphicon glyphicon-ok'></span>
          <span class='glyphicon glyphicon-pencil'></span>
        {{else if delete_action}}
          <span class='glyphicon glyphicon-ok'></span>
          <span class='glyphicon glyphicon-trash'></span>
        {{else}}
          <span class='glyphicon glyphicon-ok'></span>
          <span class='glyphicon glyphicon-plus'></span>
        {{/if}}
      </button>
    {{else if session.isAuthenticated}}
      {{#unless fullscreen}}
        {{#if pinned}}
          <button class='btn btn-default' title="Remove from Favorites" style='width: 100%;' {{action 'pin' 'unstar' current_entry}}><span class='glyphicon glyphicon-star'></span></button>
        {{else}}
          <button class='btn btn-default' title="Mark as Favorite" style='width: 100%;' {{action 'pin' 'star' current_entry}}><span class='glyphicon glyphicon-star-empty' style='color: #888;'></span></button>
        {{/if}}
      {{/unless}}
    {{/if}}
    <button class='btn btn-default' style='width: 100%;' {{action 'full_screen'}}>
      {{#if fullscreen}}
        <span class='glyphicon glyphicon-resize-small'></span>
      {{else}}
        <span class='glyphicon glyphicon-resize-full'></span>
      {{/if}}
    </button>
  </div>
  <div style='clear: left;'></div>
</div>