<div style={{if tall 'margin-bottom: 40px;'}} class={{if fullscreen 'box fullscreen' 'box'}}>
  <div class='left'>
    <button class='btn btn-default' {{action 'previous'}} style='width: 100%;'>Prev</button>
    {{#if entries.length}}
      <div style='text-align: right;'>
        {{readable_index}} of {{entries.length}}
      </div>
    {{/if}}
  </div>
  <div class='middle'>
    {{#if current_entry}}
      <div class='entry'>
        {{image-with-attribution stretch=true image=current_entry.image tall=tall border=false url=current_entry.url fullscreen=fullscreen}}
        <div style='text-align: center;'>
          {{#if prompt_type}}
            {{current_entry.prompt_type}}<br/>
          {{/if}}
          {{#if include_sentence}}
            <strong>"{{current_entry.sentence}}"</strong><br/>
          {{/if}}
          {{#if include_url}}
            <a href={{current_entry.url}} target="_blank">{{current_entry.text}}</a>
          {{else}}
            {{current_entry.text}}
          {{/if}}
          <div class='entry_description'>
            {{#if description}}
              {{current_entry.description}}<br/>
            {{/if}}
            {{#if related_words}}
              {{current_entry.related_words}}<br/>
            {{/if}}
          </div>
        </div>
      </div>
    {{else}}
      <div class='blank_entry'>
        {{t "No Entries Added" key='no_entries_yet'}}
      </div>
    {{/if}}
  </div>
  <div class='right'>
    <button class='btn btn-default' {{action 'next'}} style='width: 100%;'>Next</button>
    {{#if update_revision_object}}
      <button class='btn btn-default' {{action 'confirm_revision'}} style='width: 100%;'>
        {{#if update_action}}
          <span class='glyphicon glyphicon-ok'></span>
          <span class='glyphicon glyphicon-pencil'></span>
        {{else if delete_action}}
          <span class='glyphicon glyphicon-ok'></span>
          <span class='glyphicon glyphicon-trash'></span>
        {{else}}
          <span class='glyphicon glyphicon-ok'></span>
          <span class='glyphicon glyphicon-plus'></span>
        {{/if}}
      </button>
    {{else if session.isAuthenticated}}
      {{#unless fullscreen}}
        {{#if pinned}}
          <button class='btn btn-default' style='width: 100%;' {{action 'pin' current_entry}}><span class='glyphicon glyphicon-star'></span></button>
        {{else}}
          <button class='btn btn-default' style='width: 100%;' {{action 'unpin' current_entry}}><span class='glyphicon glyphicon-star-empty'></span></button>
        {{/if}}
      {{/unless}}
    {{/if}}
    <button class='btn btn-default' style='width: 100%;' {{action 'full_screen'}}>
      {{#if fullscreen}}
        <span class='glyphicon glyphicon-resize-small'></span>
      {{else}}
        <span class='glyphicon glyphicon-resize-full'></span>
      {{/if}}
    </button>
  </div>
  <div style='clear: left;'></div>
</div>