<header id='header'>
  <span style='padding-right: 20px; font-weight: bold; padding-left: 10px; font-size: 20px;' id='title'>
    {{#link-to 'index'}}
      <span class='glyphicon glyphicon-comment' style='font-size: 25px; vertical-align: bottom;'></span>
      {{t "Communication Workshop" key='aac_workshop'}}
    {{/link-to}}
  </span>
  <div style='float: right; padding: 5px;'>
    {{#if session.isAuthenticated}}
      {{#link-to 'user' session.user_name}}
        {{#if session.name}}{{session.name}}{{else}}{{session.user_name}}{{/if}}
      {{/link-to}}
      &nbsp;&nbsp;
      <a href="#" {{action 'logout'}}>{{t "Logout" key='logout'}}</a>
    {{else}}
      {{#link-to 'login'}}{{t "Log In" key='log_in'}}{{/link-to}} |
      {{#link-to 'register'}}{{t "Sign Up" key='sign_up'}}{{/link-to}}
    {{/if}}
  </div>
  <form style='display: inline; position: relative; float: right; margin-right: 30px;' {{action 'search' on='submit'}}>
    <span style='display: inline-block; width: 150px;'>
      {{input type='text' class='form-control input-sm' value=search_string placeholder='find a core word'}}
    </span>
    <button type='submit' class='btn btn-default btn-sm' style='margin-top: -1px;'>{{t "Go" key='go'}}</button>
    {{#if search_status}}
      <div style='position: absolute; bottom: -45px; left: 10px; width: 160px; height: 35px; padding: 5px; background: #fff; border: 1px solid #000; text-align: center; color: #888; border-radius: 3px;'>
        {{#if search_status.none}}
          {{t "no match found" key='no_match_found'}}
        {{else}}
          {{t "error performing search" key='error_retrieving_results'}}
        {{/if}}
      </div>
    {{/if}}
  </form>
</header>
<div class='container'>
{{outlet}}
</div>
{{outlet 'modal'}}
<footer style='margin: 50px 50px 10px; color: #888; text-align: right;'>
  <div style='float: left;'>{{t "The Communication Workshop is open-licensed and material is free to be reused or re-shared with attribution" key='open_licensed_content'}}</div>
  <span style='margin-right: 10px;'>powered by CoughDrop</span>
  <a href="/terms">Terms</a> |
  <a href="/privacy">Privacy</a>
</footer>