<h1>{{t "Books" key='books'}}</h1>
{{#if books.loading}}
  {{t "Loading Books..." key='loading_books'}}
{{else if books.error}}
  {{t "Error Loading Books" key='error_loading_books'}}
{{else if books}}
  <div style='width: 600px;'>
    <div class='list-group'>
    {{#each books as |book|}}
      {{#link-to 'book' book.id class='list-group-item'}}
        <strong>{{book.title}}</strong>
        {{#if book.author}}
          <span class='text-muted'>{{t "by" key='by'}} {{book.author}}</span>
        {{/if}}
      {{/link-to}}
    {{/each}}
    </div>
  </div>
{{else}}
  {{t "No Data Available" key='no_data_available'}}
{{/if}}

{{#if session.isAuthenticated}}
  <span style='display: inline-block; width: 300px;'>
    {{input type='text' class='form-control input-lg' placeholder='Book Title' value=new_book_title enter='new_book'}}
  </span>
  <button class='btn btn-lg btn-default' {{action 'new_book'}}>{{t "Start A New Book" key='new_book'}}</button>
{{/if}}