<h1>{{t "Books" key='books'}}</h1>
<div style='width: 300px; margin-bottom: 20px;'>
  <div class='input-group'>
    {{input value=search type='text' class='form-control' placeholder="Search" enter='search'}}
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" {{action 'search'}}>{{t "Search" key='search'}}</button>
    </span>  
  </div>
</div>
{{#if search_string}}
  <button class='btn btn-default' {{action 'clear'}} style='margin-bottom: 10px;'>{{t "Clear Search" key='clear_search'}}</button>
{{/if}}

{{#if books.loading}}
  <p>{{t "Loading Books..." key='loading_books'}}</p>
{{else if books.error}}
  <p>{{t "Error Loading Books" key='error_loading_books'}}</p>
{{else if books}}
  <div style='width: 600px;'>
    <p style='margin-left: 20px;'>{{books.length}} {{t "Results" key='n_results'}}</p>
    <div class='list-group'>
    {{#each books as |book|}}
      {{#link-to 'book' book.id class='list-group-item'}}
        {{#if book.image.image_url}}
          <img src={{book.image.image_url}} class='fit_image' onerror="this.src='/images/glass.svg';" style='width: 40px; height: 40px; float: left; margin-right: 5px;'/>
        {{else}}
          <img src='/images/book.svg' class='fit_image' style='width: 40px; height: 40px;  float: left; margin-right: 5px;'/>
        {{/if}}

        <strong>{{book.title}}</strong>
        {{#if book.author}}
          <span class='text-muted'>{{t "by" key='by'}} {{book.author}}</span>
        {{/if}}
        {{#unless book.approved}}
          <span class='glyphicon glyphicon-exclamation-sign' style='padding-left: 10px; font-size: 20px; vertical-align: middle;'></span>
        {{/unless}}
        <div class='text-muted' style='margin-left: 20px;'>
          {{book.total_pages}} {{t "pages" key='pages'}}
          {{#if book.related_words}}
            <span style='margin-left: 10px;'>{{t "core: " key='core'}} {{list book.related_words}}</span>
          {{/if}}
        </div>
      {{/link-to}}
    {{/each}}
    </div>
  </div>
{{else}}
  {{t "No Data Available" key='no_data_available'}}
{{/if}}

{{#if session.isAuthenticated}}
  <span style='display: inline-block; width: 300px;'>
    {{input type='text' class='form-control input-lg' placeholder='New Book Title' value=new_book_title enter='new_book'}}
  </span>
  <button class='btn btn-lg btn-default' {{action 'new_book'}}>{{t "Start A New Book" key='new_book'}}</button>
{{/if}}