{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Download Packet" key='download_packet'}}</h3>
  </div>
  <div class="modal-body">
    <div style='font-size: 20px;'>
      {{#if status.loading}}
          <p class='text-info'>{{t "Generating Packet..." key='generating_packet'}}</p>
          {{#if status.percent}}
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-value={{num_percent}} aria-valuemin="0" aria-valuemax="100" style={{num_style}}>
                <span class="sr-only">
                  {{t "%{pct}% Complete" key='percent_complete' pct=num_percent}}
                </span>
              </div>
            </div>
          {{/if}}
      {{else if status.error}}
        <p class='text-danger'>{{t "There was an unexpected error while generating the packet" key='error_generating_packet'}}</p>
      {{else if status.download_url}}
        <p class='text-success'>{{t "Your packet is ready!" key='packet_ready'}}</p>
      {{else}}
        <p class='text-danger'>{{t "There was an unexpected error while generating the packet" key='error_generating_packet'}}</p>
      {{/if}}
    </div>
  </div>
  <div class='modal-footer'>
    {{#if status.download_url}}
      <a href={{status.download_url}} target='_blank' class='btn btn-primary btn-lg'>{{t "Download Packet" key='download_packet'}}</a>
    {{/if}}
    <button class='btn btn-default' {{action 'close'}}>{{t "Cancel" key='cancel'}}</button>
  </div>
{{/modal-dialog}}
