<h1>{{t "Focus Word Sets" key='focus_word_sets'}}</h1>
<p>{{t "Focus Word Sets are collections of words that can be used to generate core word sets. They could be created from the complete text of a shared-reading book, the list of words you'd use in a context-specific activity, or other types of word collections. Once the focus set is created and approved, others can use it to generate word word lists, or to set focus lists in AAC apps that support them!" key='focus_explainer'}}</p>
<div style='width: 300px; margin-bottom: 20px;'>
  <div class='input-group'>
    {{input value=search type='text' class='form-control' placeholder="Search" enter='search'}}
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" {{action 'search'}}>{{t "Search" key='search'}}</button>
    </span>  
  </div>
</div>
{{#if list}}
  {{#if list.category}}
    <button class='btn btn-default' {{action 'clear'}} style='float: left; margin-right: 5px; margin-top: -7px; margin-bottom: 10px;'><span class='glyphicon glyphicon-arrow-left'></span> <span class='sr-only'>{{t "Back" key='back'}}</span></button>
  {{/if}}
  <h4>{{ list.title }}</h4>
  {{#if list.search}}
    <button class='btn btn-default' {{action 'clear'}} style='margin-bottom: 10px;'>{{t "Clear Search" key='clear_search'}}</button>
  {{/if}}
  <div style='clear: left;'></div>
  {{#if list.loading}}
    <p>{{t "Loading Results..." key='loading_results'}}</p>
  {{else if list.error}}
    <p>{{t "Error Loading Results..." key='error_loading_results'}}</p>
  {{else if list.results}}
    <div class='list-group'>
      {{#each list.results as |item|}}
        {{#link-to 'focus' item.id item.locale class='list-group-item'}}
          {{#if item.image_url}}
            <img src={{item.image_url}} class='fit_image' onerror="this.src='/images/glass.svg';" style='width: 40px; height: 40px; float: left; margin-right: 5px;'/>
          {{else}}
            <img src='/images/glass.svg' class='fit_image' style='width: 40px; height: 40px;  float: left; margin-right: 5px;'/>
          {{/if}}
          <span style='font-size: 16px;'>
            <b>{{item.title}}</b>{{#if item.author}} {{t "by" key='by'}} {{item.author}}{{/if}}{{#unless item.approved}} <span class='glyphicon glyphicon-exclamation-sign'></span>{{/unless}}
          </span>
          <div style='width: calc(100% - 50px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #888;'>{{item.all_words}}</div>
        {{/link-to}}
      {{/each}}      
    </div>
  {{else}}
    <p>{{t "No Data Available" key='no_data_available'}}</p>
  {{/if}}
{{else}}
  <div class='list-group'>
    <a href='#' class='list-group-item list-group-item-info' {{action 'set_category' 'books'}} style='padding: 20px; border-color: #888; font-size: 16px;'><span class='glyphicon glyphicon-book'></span> {{t "Shared Reading Books" key='shared_reading_books'}}</a>
    <a href='#' class='list-group-item list-group-item-info' {{action 'set_category' 'activities'}} style='padding: 20px; border-color: #888; font-size: 16px;'><span class='glyphicon glyphicon-picture'></span> {{t "Context-Specific Activities" key='context_specific_activities'}}</a>
    <a href='#' class='list-group-item list-group-item-info' {{action 'set_category' 'other'}} style='padding: 20px; border-color: #888; font-size: 16px;'><span class='glyphicon glyphicon-folder-open'></span> {{t "Other Focus Word Sets" key='other_focus_word_sets'}}</a>
  </div>
{{/if}}

{{#if session.isAuthenticated}}
  <span style='display: inline-block; width: 300px;'>
    {{input type='text' class='form-control input-lg' placeholder='New Focus Title' value=new_focus_title enter='new_focus'}}
  </span>
  <button class='btn btn-lg btn-default' {{action 'new_focus'}}>{{t "Create New Focus Word Set" key='new_focus_word_set'}}</button>
{{/if}}