<div style='width: 400px; border: 1px solid #888; border-radius: 5px; position: absolute; top: calc(50vh - 150px); left: calc(50vw - 200px); padding: 10px 20px;'>
  <h2>Forgot Password</h2>
  <form {{action 'request_password' on='submit'}} autocomplete="off">
    <div class="form-group">
      <label for="user_name" class="col-sm-12 control-label" style='margin-top: 15px; margin-bottom: -2px;'>{{t "User Name or Email" key='user_name_or_email'}}</label>
      <div class="col-sm-12">
        {{input type='text' class='form-control' id='user_name' value=user_name placeholder='User name or email'}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12" style='margin-top: 15px; margin-bottom: -2px;'>
        {{#if status.attempted}}
          <p>{{t "Message sent! Be sure to check your spam box if you don't see a message from us." key='message_sent_check_spam'}}</p>
        {{else}}
          <button type='submit' class='btn btn-primary btn-lg'>
            {{#if status.attempting}}
              {{t "Sending Email..." key='sending_email'}}
            {{else if status.error}}
              {{t "Error Sending Email" key='error_sending_email'}}
            {{else if status.not_found}}
              {{t "No User Found" key='no_user_found'}}
            {{else}}
              {{t "Send Email" key='send_email'}}
            {{/if}}
          </button>
        {{/if}}
        <span style='margin-left: 10px;'>
          {{#link-to 'login'}}{{t "log in" key='log_in'}}{{/link-to}} |
          {{#link-to 'register'}}{{t "register" key='register'}}{{/link-to}}
        </span>
      </div>
    </div>
  </form>
</div>