<h1>{{t "Communication Workshop" key='aac_workshop'}}</h1>

<div class='row'>
  <div class='banner col-sm-12' style='display: none;'>
    {{#if session.isAuthenticated}}
      Show words you're currently focusing on, with some kind of history function/progress indicator.<br/><br/>
    {{/if}}
    {{#unless no_more_lessons}}
      Next Lesson:
      <a href='#' style='font-size: 20px;'>{{t "Something cool and important for you to learn." key='lesson_name'}}</a>
    {{/unless}}
    <br/>(localStorage to remember if they've done any before registering, even)
  </div>
  {{#if session.user.current_words}}
    <div class='col-sm-6 col-sm-offset-3'>
      <h2>{{t "Current Focus Words" key='current_focus_words'}}</h2>
      {{#each session.user.current_words as |word|}}
        <div style='max-width: 300px; margin: 0 auto;'>
          <div class='list-group pills'>
            {{#link-to 'word.index' word.word word.locale class='list-group-item'}}
              {{#if word.best_image_url}}
                <img src={{word.best_image_url}} class='fit_image' style='width: 46px; height: 46px; margin: -10px 0 -6px;' />
              {{/if}}
              {{word.word}}
              {{#if word.concludes}}
                <div style='font-size: 14px;'>{{t "concludes" key='concludes'}} {{from_now word.concludes}}</div>
              {{/if}}
            {{/link-to}}
          </div>
        </div>
      {{/each}}
    </div>
    <div class='col-sm-12' style='margin-top: -50px;'>
      <div style='text-align: center; margin: 50px;'>
        <button class='btn btn-primary btn-lg' {{action 'suggestions' 'modeling'}}>{{t "Modeling Ideas" key='modeling_ideas'}}</button>
        <button class='btn btn-primary btn-lg' {{action 'suggestions' 'activities'}}>{{t "Activity Ideas" key='activity_ideas'}}</button>
        <button class='btn btn-primary btn-lg' {{action 'suggestions' 'prompts'}}>{{t "Prompts" key='prompts'}}</button>
      </div>
    </div>
  {{/if}}

  <div class='col-sm-6' style='text-align: center;'>
    <h4>
      {{#if session.user.current_words}}
        {{t "Additional Words" key='additional_words'}}
      {{else}}
        {{t "Words" key='words'}}
      {{/if}}
    </h4>
    {{#if words.loading}}
      {{t "Loading words..." key='loading_words'}}
    {{else if words.error}}
      {{t "Error loading words" key='error_loading_words'}}
    {{else if words}}
      <div style='max-width: 300px; margin: 0 auto;'>
        <div class='list-group pills'>
          {{#each words as |word|}}
            {{#link-to 'word.index' word.word word.locale class='list-group-item'}}
              {{#if word.best_image_url}}
                <img src={{word.best_image_url}} class='fit_image' style='width: 46px; height: 46px; margin: -8px 0;' />
              {{/if}}
              {{word.word}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
      <p>{{#link-to 'words' 'en'}}{{t "see all words" key='all_words'}}{{/link-to}}</p>
    {{else}}
      {{t "No data to show" key='no_data'}}
    {{/if}}
  </div>
  <div class='col-sm-6' style='text-align: center;'>
    <h4>{{t "Categories" key='categories'}}</h4>
    {{#if categories.loading}}
      {{t "Loading categories..." key='loading_categories'}}
    {{else if categories.error}}
      {{t "Error loading categories" key='error_loading_categories'}}
    {{else if categories}}
      <div style='max-width: 300px; margin: 0 auto;'>
      <div class='list-group pills'>
        {{#each categories as |cat|}}
          {{#link-to 'category.index' cat.category cat.locale class='list-group-item'}}
            {{#if cat.best_image_url}}
              <img src={{cat.best_image_url}} class='fit_image' style='width: 46px; height: 46px; margin: -8px 0;' />
            {{/if}}
            {{cat.category}}
          {{/link-to}}
        {{/each}}
      </div>
      </div>
    {{else}}
      {{t "No data to show" key='no_data'}}
    {{/if}}
  </div>
  {{#if session.isAuthenticated}}
    <div class='col-sm-6 col-sm-offset-3' style='text-align: center;'>
      <h4>Activity Report!</h4>
      {{#if events.loading}}
        {{t "Loading events..." key='loading_events'}}
      {{else if events.error}}
        {{t "Error loading events" key='error_loading_events'}}
      {{else if events}}
        <ul class='list_group'>
        {{#each events as |event|}}
          <li class='list-group-item' style='text-align: left;'>
            {{#if event.success_level}}
              <div class='face_button' style='float: left; width: auto; margin-right: 10px; margin-top: 5px;'>
                <span class={{event.face_class}}></span>
              </div>
            {{/if}}
            {{event.text}} - {{event.user_name}}
            <div class='text-muted'>{{from_now event.tracked}}</div>
          </li>
        {{/each}}
        </ul>
      {{else}}
        {{t "No recent activity" key='no_recent_activity'}}
        <p class='text-muted' style='text-align: left; margin-top: 20px;'>
          {{t "As you check off activities and score your participation in them, you'll see a history of those activities here." key='activity_explainer'}}
          {{#if session.user.external_account}}
            {{t "In addition, if you select focus words and tie them back to your CoughDrop account, you'll see usage reports related to those words show up as well." key='external_account_activity_explainer'}}
          {{/if}}
        </p>
      {{/if}}
    </div>
  {{/if}}
</div>


<div style='white-space: pre-line; display: none;'>
Activities based around a topic/context instead of a word:

- meal time
- getting ready for bed
- traveling
- doctor appointment
- eating at a restaurant


</div>
