<div style='width: 400px; border: 1px solid #888; border-radius: 5px; position: absolute; top: calc(50vh - 150px); left: calc(50vw - 200px); padding: 10px 20px;'>
  <h2>Reset Password</h2>
  <form {{action 'reset' on='submit'}} autocomplete="off">
    <div class="form-group">
      <label class='col-sm-12'>
        {{t "Enter a new password for" key='enter_new_password_for'}}
        <em>{{user_id}}</em>
      </label>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-12 control-label" style='margin-top: 15px; margin-bottom: -2px;'>{{t "Password" key='password'}}</label>
      <div class="col-sm-12">
        {{input type='password' class='form-control' id='password' value=password placeholder=''}}
        {{#if bad_password}}
          <p class='text-danger'>{{t "password must be at least 6 characters" key='min_6_password'}}</p>
        {{/if}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12" style='margin-top: 15px; margin-bottom: -2px;'>
        {{#if status.reset}}
          <p>{{t "Password reset!" key='password_reset'}}</p>
          <p>{{#link-to 'login' class='btn btn-default'}}{{t "Return to Log In" key='return_to_log_in'}}{{/link-to}}</p>
        {{else if status.mismatch}}
          <p>{{t "It looks like this reset link may not be valid. You may need to request a new password reset link." key='invalid_reset_code'}}</p>
          <p>{{#link-to 'forgot_password' class='btn btn-default'}}{{t "Request Password Reset" key='request_password_reset'}}{{/link-to}}</p>
        {{else}}
          <button type='submit' disabled={{no_submit}} class='btn btn-primary btn-lg'>
            {{#if status.attempting}}
              {{t "Resetting Password..." key='resetting_password'}}
            {{else if status.error}}
              {{t "Error Resetting Password" key='error_resetting_password'}}
            {{else}}
              {{t "Reset Password" key='reset_password'}}
            {{/if}}
          </button>
        {{/if}}
        <span style='margin-left: 10px;'>
          {{#link-to 'login'}}{{t "log in" key='log_in'}}{{/link-to}}
        </span>
      </div>
    </div>
  </form>
</div>