<div style='width: 400px; border: 1px solid #888; border-radius: 5px; position: absolute; top: calc(50vh - 150px); left: calc(50vw - 200px); padding: 10px 20px;'>
  <h2>Register</h2>
  <form {{action 'register_and_login' on='submit'}} autocomplete="off">
    <div class="form-group">
      <label for="name" class="col-sm-12 control-label" style='margin-top: 15px; margin-bottom: -2px;'>{{t "Your Name" key='your_name'}}</label>
      <div class="col-sm-12">
        {{input type='text' class='form-control' id='name' value=model.name placeholder='Full Name'}}
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-12 control-label" style='margin-top: 15px; margin-bottom: -2px;'>{{t "Email Address" key='email_address'}}</label>
      <div class="col-sm-12">
        {{input type='text' class='form-control' id='email' value=model.email placeholder='email address'}}
      </div>
    </div>
    <div class="form-group">
      <label for="user_name" class="col-sm-12 control-label" style='margin-top: 15px; margin-bottom: -2px;'>{{t "User Name" key='user_name'}}</label>
      <div class="col-sm-12">
        {{input type='text' class='form-control' id='user_name' value=model.user_name placeholder='User name'}}
        {{#if model.user_name_check.checking}}
          <p>{{t "checking user name..." key='checking_user_name'}}</p>
        {{else if model.user_name_check.exists}}
          <p class='text-danger'>"{{model.user_name}}" {{t "already exists" key='user_name_taken'}}</p>
        {{else if user_name_invalid}}
          <p class='text-danger'>{{t "user names can't have spaces, dots or quotes" key='invalid_user_name'}}</p>
        {{/if}}
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-12 control-label" style='margin-top: 15px; margin-bottom: -2px;'>{{t "Password" key='password'}}</label>
      <div class="col-sm-12">
        {{input type='password' class='form-control' id='password' value=model.password placeholder=''}}
        {{#if bad_password}}
          <p class='text-danger'>{{t "password must be at least 6 characters" key='min_password_6'}}</p>
        {{/if}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <p><label style="font-weight: normal;">
          {{input type="checkbox" checked=model.terms_agree}}
          By registering or using the product, you are agreeing that you have read and understood the <a href="/terms" target='_blank'>Terms of Use and License Agreement</a>, and are capable of binding to a legal contract.
        </label></p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12" style='margin-top: 15px; margin-bottom: -2px;'>
        <button type='submit' disabled={{no_submit}} class='btn btn-primary btn-lg'>
          {{#if status.attempting}}
            {{t "Signing Up..." key='signing_up'}}
          {{else if status.error}}
            {{t "Error Signing Up" key='error_signing_up'}}
          {{else}}
            {{t "Sign Up" key='log_in'}}
          {{/if}}
        </button>
        <span style='margin-left: 10px;'>
          {{#link-to 'login'}}{{t "log in" key='log_in'}}{{/link-to}}
        </span>
      </div>
    </div>
  </form>
</div>