{{#modal-dialog action="nothing" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Accept Terms" key='accept_terms'}}</h3>
  </div>
  <div class="modal-body">
    <label>
      {{input type="checkbox" checked=agree}}
      &nbsp;By registering or using the product, you are agreeing that you have read and understood the <a href="/terms" target='_blank'>Terms of Use and License Agreement</a>, and are capable of binding to a legal contract.
    </label>
  </div>
  <div class="modal-footer">
    <button {{action 'agree'}} class='btn btn-default btn-lg'>{{t "I Agree" key='i_agree'}}</button>
    <a href="#" class='btn btn-default' {{action 'logout'}}>{{t "Logout" key='logout'}}</a>
    {{#if errored}}
      <div class='text-danger'>{{t "There was an unexpected error, please try again." key='error_agreeing'}}</div>
    {{/if}}
  </div>
{{/modal-dialog}}
