{{#if words.loading}}
  {{t "Loading Words..." key='loading_words'}}
{{else if words.error}}
  {{t "Error Loading Words" key='error_loading_words'}}
{{else}}
  <div style='max-width: 400px; padding-top: 20px;'>
    {{#if session.user.admin}}
      <p style='font-size: 20px;'>
        <a href="#" {{action 'filter' 'all'}}>{{word_counts.total}} {{t "Total" key='pending'}}</a> | 
        <a href="#" {{action 'filter' 'pending'}}>{{word_counts.pending}} {{t "Pending" key='pending'}}</a> | 
        <a href="#" {{action 'filter' 'unapproved'}}>{{word_counts.unapproved}} {{t "Unapproved" key='unapproved'}}</a>
      </p>
    {{else}}
      <p style='font-size: 20px;'>{{word_counts.total}} {{t "Total Words Found" key='total_words_found'}}</p>
    {{/if}}
    <div class='list-group pills'>
      {{#each filtered_words as |word|}}
        {{#unless word.unavailable}}
          {{#link-to 'word.index' word.word word.locale class='list-group-item'}}
            {{#if word.best_image_url}}
              <img src={{word.best_image_url}} class='fit_image' style='width: 46px; height: 46px; margin: -8px 0;' />
            {{/if}}
            {{word.word}}
            {{#if word.pending_revisions}}
              <span class='glyphicon glyphicon-comment' style='padding-left: 10px; font-size: 30px; vertical-align: middle;'></span>
            {{else}}
              {{#unless word.has_baseline_content}}
                <span class='glyphicon glyphicon-exclamation-sign' style='padding-left: 10px; font-size: 30px; vertical-align: middle;'></span>
              {{/unless}}
            {{/if}}
          {{/link-to}}
        {{/unless}}
      {{/each}}
    </div>
  </div>
{{/if}}
