<div>
{{#if model.image}}
  <div>
    <div>
      {{#each buttons as |button|}}
        {{button-preview button=button}}
      {{/each}}
      {{#if single_button}}
        <img src={{single_button.image_url}} style='width: 200px; max-height: 200px; vertical-align: top;' />
      {{/if}}
      <!-- TODO: include alternate images/buttons if there are any -->
    </div>

    FULL SCREEN LINK FOR WORD IMAGE(s)
    {{#if word_status.pending}}
      {{t "Updating word..." key='adding_word'}}
    {{else if word_status.error}}
      {{t "There was an error updating the word" key='error_adding_word'}}<br/>
      {{#if word_status.added}}
        <button class='btn btn-default' {{action 'remove_word'}}><span class='glyphicon glyphicon-zoom-out'></span> {{t "Stop Focusing on This Word" key='stop_focused_on_this_word'}}</button>
      {{else}}
        <button class='btn btn-default' {{action 'add_word'}}><span class='glyphicon glyphicon-zoom-in'></span> {{t "Focus on This Word" key='focus_on_this_word'}}</button>
      {{/if}}
    {{else if word_status.added}}
      {{#if word_status.concludes}}
        {{t "focusing on this word, done" key='concludes'}} {{from_now word_status.concludes}}<br/>
      {{/if}}
      <button class='btn btn-default' {{action 'remove_word'}}><span class='glyphicon glyphicon-zoom-out'></span> {{t "Stop Focusing on This Word" key='stop_focused_on_this_word'}}</button>
    {{else}}
      <button class='btn btn-default' {{action 'add_word'}}><span class='glyphicon glyphicon-zoom-in'></span> {{t "Focus on This Word" key='focus_on_this_word'}}</button>
    {{/if}}
    <div style='margin-bottom: 20px;'>
      <span style='color: #888;'>{{model.parts_of_speech}}</span>
      {{model.description}}
    </div>
  </div>
{{/if}}

<button class='btn btn-default'><span class='glyphicon glyphicon-print'></span> {{t "Printed Packet" key='printed_packer'}}</button>
<button class='btn btn-default'><span class='glyphicon glyphicon-random'></span> {{t "Choose an Activity For Me" key='chose_activity'}}</button>
<button class='btn btn-default'><span class='glyphicon glyphicon-question-sign'></span> {{t "Start a Quiz" key='start_a_quiz'}}</button>

<h2>{{t "Examples of When to Use" key='usage_examples'}}</h2>
{{#if model.usage_examples}}
  <div style='white-space: initial; max-width: 500px;'>
    {{example-carousel entries=model.usage_examples type='usage_example' pin='pin'}}
  </div>
{{else}}
  <div style='padding: 30px 20px;'>
    {{partial 'none-specified'}}
  </div>
{{/if}}

<h2>{{t "Modeling Examples" key='modeling_examples'}}</h2>
<ul class="nav nav-pills all_border" style='white-space: initial;'>
  <li role="presentation" class={{if current_level.level_1 'active'}}><a href="#" {{action 'set_level' 1}}>{{t "Level 1" key='level_1'}}</a></li>
  <li role="presentation" class={{if current_level.level_2 'active'}}><a href="#" {{action 'set_level' 2}}>{{t "Level 2" key='level_2'}}</a></li>
  <li role="presentation" class={{if current_level.level_3 'active'}}><a href="#" {{action 'set_level' 3}}>{{t "Level 3" key='level_3'}}</a></li>
</ul>
{{#if current_level.modeling_examples}}
  <em class='text-muted'>{{current_level.description}}</em>
  <div style='white-space: initial; max-width: 500px; margin-top: 10px;'>
    {{example-carousel entries=current_level.modeling_examples type='modeling' pin='pin'}}
  </div>
{{else}}
  <em class='text-muted'>{{current_level.description}}</em>
  <div style='padding: 30px 20px;'>
    {{partial 'none-specified'}}
  </div>
{{/if}}

<h2>{{t "Additional Resources" key='additional_resources'}}</h2>
<ul class="nav nav-pills all_border" style='white-space: initial;'>
  <li role="presentation" class={{if current_activity.learning_projects 'active'}}><a href="#" {{action 'set_activity' 'learning_projects'}}>{{t "Learning Projects" key='learning_projects'}}</a></li>
  <li role="presentation" class={{if current_activity.activities 'active'}}><a href="#" {{action 'set_activity' 'activities'}}>{{t "Activity Ideas" key='activities'}}</a></li>
  <li role="presentation" class={{if current_activity.books 'active'}}><a href="#" {{action 'set_activity' 'books'}}>{{t "Books" key='books'}}</a></li>
  <li role="presentation" class={{if current_activity.topic_starters 'active'}}><a href="#" {{action 'set_activity' 'topic_starters'}}>{{t "Topic Starters" key='topic_starters'}}</a></li>
  <li role="presentation" class={{if current_activity.prompts 'active'}}><a href="#" {{action 'set_activity' 'prompts'}}>{{t "Prompts" key='prompts'}}</a></li>
  <li role="presentation" class={{if current_activity.videos 'active'}}><a href="#" {{action 'set_activity' 'videos'}}>{{t "Videos" key='videos'}}</a></li>
</ul>
{{#if current_activity.list}}
  <div style='white-space: initial; max-width: 500px; margin-top: 10px;'>
    {{example-carousel entries=current_activity.list type=current_activity.type pin='pin'}}
  </div>
{{else}}
  <div style='padding: 30px 20px;'>
    {{partial 'none-specified'}}
  </div>
{{/if}}

<h2>{{t "Related Core Words" key='related_core_words'}}</h2>
<table class='table table-striped table-hover'>
  <thead>
  </thead>
  <tbody>
    <tr>
      <td style='width: 200px;'>{{t "verbs" key='verbs'}}</td>
      <td>{{#if model.verbs}}{{word-list list=model.verbs locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "adjectives" key='adjectives'}}</td>
      <td>{{#if model.adjectives}}{{word-list list=model.adjectives locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "pronouns" key='pronouns'}}</td>
      <td>{{#if model.pronouns}}{{word-list list=model.pronouns locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "determiners" key='determiners'}}</td>
      <td>{{#if model.determiners}}{{word-list list=model.determiners locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "time-based words" key='time_based_words'}}</td>
      <td>{{#if model.time_based_words}}{{word-list list=model.time_based_words locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "location-based words" key='location_based_words'}}</td>
      <td>{{#if model.location_based_words}}{{word-list list=model.location_based_words locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "other words" key='other_words'}}</td>
      <td>{{#if model.other_words}}{{word-list list=model.other_words locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
  </tbody>
</table>

<h2>{{t "Related Topics" key='related_topics'}}</h2>
{{#if model.related_categories}}
  {{category-list list=model.related_categories}}
{{else}}
  - {{partial 'none-specified'}}
{{/if}}

<h2>{{t "Attribution and References" key='attribution_and_references'}}</h2>
<div style='max-width: 600px;'>
  {{t "This material is released by CoughDrop, Inc. with special thanks to the contributors listed under a" key='license_1'}}
  <a href='https://creativecommons.org/licenses/by/4.0/' target='_blank'>{{t "CC Attribution" key='cc_by'}}</a> {{t "license. You are free to use it in your own materials with proper attribution." key='license_2'}}<br/><br/>
</div>
{{#if model.approved_user_identifiers}}
  <strong>{{t "Attributed authors:" key='attributed_authors'}}</strong>
  <ul class='list-unstyled' style='margin-left: 20px;'>
  {{#each model.approved_user_identifiers as |id|}}
    <li>{{id}}</li>
  {{/each}}
  </ul>
{{/if}}
{{#if model.references}}
<div style='white-space: pre-line;'>
<strong>{{t "References:" key='references'}}</strong>
{{model.references}}
</div>
{{/if}}

</div>
{{#unless editing}}
  <div style='margin-top: 50px;'>
    {{#if model.permissions.edit}}
      <button class='btn btn-default' {{action 'edit'}}>{{t "Edit Word Settings" key='edit_word_settings'}}</button>
      {{#if model.revisions}}
        <div style='margin-top: 20px;'>
          {{t "Pending revisions submitted by:" key='pending_revisions_submitted_by'}}
          <div class='list-group' style='max-width: 250px;'>
            {{#each model.revisions as |rev|}}
              <a href="#" {{action 'set_revision' rev}} class='list-group-item'>{{rev.user_identifier}}</a>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{else if session.isAuthenticated}}
      <button class='btn btn-default' {{action 'edit'}}>{{t "Suggest Word Revisions" key='suggest_word_changes'}}</button>
      {{#if model.revisions}}
        <div style='margin-top: 20px;'>
          {{t "Pending revisions submitted by:" key='pending_revisions_submitted_by'}}
          <div class='list-group' style='max-width: 250px;'>
            {{#each model.revisions as |rev|}}
              <span class='list-group-item'>{{rev.user_identifier}}</span>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <h2 style='margin-top: 100px;'>
    {{#if revision}}
      {{t "Review Word Changes" key='review_word_changes'}}
    {{else if model.permissions.edit}}
      {{t "Edit Word Settings" key='edit_word_settings'}}
    {{else}}
      {{t "Suggest Word Revisions" key='suggest_word_revisions'}}
    {{/if}}
  </h2>
  {{#if revision}}
    {{t "by" key='by'}} {{revision.user_identifier}}
  {{/if}}
  <form style='margin-top: 50px;' class='form-horizontal' {{action 'save' on='submit'}}>
    <div class="form-group">
      <label for="image_url" class="col-sm-3 control-label">{{t "Image" key='image_url'}}</label>
      <div class="col-sm-3">
        {{image-with-attribution image=model.image label=model.word update_image='update_image'}}
      </div>
      <div class='col-sm-3'>
        {{#if model.image}}
          {{button-preview button=button small=true}}
        {{/if}}
      </div>
      {{#if revision.changes.image}}
        <div class='col-sm-4 revision'>
          {{image-with-attribution image=revision.changes.image}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <div class='col-sm-3 col-sm-offset-3'>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Color As... <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {{#each keyed_colors as |color|}}
              <li><a href="#" {{action 'color' color}}>
                <span class='color_box' style={{color.style}}></span>
                {{color.color}}{{#if color.hint}} ({{color.hint}}){{/if}}
              </a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="border_color" class="col-sm-3 control-label">{{t "Border" key='border_color'}}</label>
      <div class="col-sm-5">
        {{input type='text' id='border_color' value=model.border_color class='form-control pad_color_box'}}
        <span style='position: absolute; top: 2px; margin-left: 2px;'>
          {{color-box color=model.border_color}}
        </span>
      </div>
      {{#if revision.changes.border_color}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>
            {{color-box color=revision.changes.border_color}}
            {{revision.changes.border_color}}
          </p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'border_color'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="background_color" class="col-sm-3 control-label">{{t "Background" key='background_color'}}</label>
      <div class="col-sm-5">
        {{input type='text' id='background_color' value=model.background_color class='form-control pad_color_box'}}
        <span style='position: absolute; top: 2px; margin-left: 2px;'>
          {{color-box color=model.background_color}}
        </span>
      </div>
      {{#if revision.changes.background_color}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>
            {{color-box color=revision.changes.background_color}}
            {{revision.changes.background_color}}
          </p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'background_color'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-3 control-label">{{t "Description" key='description'}}</label>
      <div class="col-sm-5">
        {{input type='text' id='description' value=model.description class='form-control'}}
      </div>
      {{#if revision.changes.description}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>
            {{revision.changes.description}}
          </p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'description'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="parts_of_speech" class="col-sm-3 control-label">{{t "Parts of Speech" key='parts_of_speech'}}</label>
      <div class="col-sm-5">
        {{input type='text' id='parts_of_speech' value=model.parts_of_speech class='form-control'}}
        comma-separated, most common first
      </div>
      {{#if revision.changes.parts_of_speech}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>{{revision.changes.parts_of_speech}}</p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'parts_of_speech'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="usage_examples" class="col-sm-3 control-label">
        {{t "Usage Examples" key='usage_examples'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Ideas for different ways this word can be used, or specific situations where it could be useful" key='usage_examples_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{prompt-carousel entries=model.usage_examples type='usage_example'}}
      </div>
      {{#if revision.changes.usage_examples}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.usage_examples type='usage_example' revision_attribute='usage_examples' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="modeling_examples" class="col-sm-3 control-label">
        {{t "Modeling Examples" key='modeling_examples'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Example phrases that modelers can use to teach or reinforce this word to communicators (remember, always try to model a level higher than the communicator)" key='modeling_examples_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        <p class='form-control-static'>{{t "Level 1 (1-button communicators)" key='level_1'}}</p>
        {{prompt-carousel entries=model.level_1_modeling_examples type='modeling'}}
      </div>
      {{#if revision.changes.level_1_modeling_examples}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.level_1_modeling_examples type='modeling' revision_attribute='level_1_modeling_examples' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
      <div class="col-sm-5 col-sm-offset-3">
        <p class='form-control-static'>{{t "Level 2 (2-3 button communicators)" key='level_2'}}</p>
      </div>
      <div class='col-sm-5 col-sm-offset-3'>
        {{prompt-carousel entries=model.level_2_modeling_examples type='modeling'}}
      </div>
      {{#if revision.changes.level_2_modeling_examples}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.level_2_modeling_examples type='modeling' revision_attribute='level_2_modeling_examples' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
      <div class="col-sm-5 col-sm-offset-3">
        <p class='form-control-static'>{{t "Level 3 (>3 button communicators)" key='level_3'}}</p>
      </div>
      <div class='col-sm-5 col-sm-offset-3'>
        {{prompt-carousel entries=model.level_3_modeling_examples type='modeling'}}
      </div>
      {{#if revision.changes.level_3_modeling_examples}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.level_3_modeling_examples type='modeling' revision_attribute='level_3_modeling_examples' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="related_core_words" class="col-sm-3 control-label">{{t "Related Core Words" key='related_core_words examples'}}</label>
      <div class="col-sm-2 control-label">
        <label for='verbs'>{{t "Verbs" key='verbs'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='verbs' value=model.verbs class='form-control' placeholder='list, of, core, words'}}
      </div>
      {{#if revision.changes.verbs}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>{{revision.changes.verbs}}</p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'verbs'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='adjectives'>{{t "Adjectives" key='adjectives'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='adjectives' value=model.adjectives class='form-control' placeholder='list, of, core, words'}}
      </div>
      {{#if revision.changes.adjectives}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>{{revision.changes.adjectives}}</p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'adjectives'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='pronouns'>{{t "Pronouns" key='pronouns'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='pronouns' value=model.pronouns class='form-control' placeholder='list, of, core, words'}}
      </div>
      {{#if revision.changes.pronouns}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>{{revision.changes.pronouns}}</p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'pronouns'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='determiners'>{{t "Determiners" key='determiners'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='determiners' value=model.determiners class='form-control' placeholder='list, of, core, words'}}
      </div>
      {{#if revision.changes.determiners}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>{{revision.changes.determiners}}</p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'determiners'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='time_based_words'>{{t "Time-Based Words" key='time_based_words'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='time_based_words' value=model.time_based_words class='form-control' placeholder='list, of, core, words'}}
      </div>
      {{#if revision.changes.time_based_words}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>{{revision.changes.time_based_words}}</p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'time_based_words'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='location_based_words'>{{t "Location-Based Words" key='location_based_words'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='location_based_words' value=model.location_based_words class='form-control' placeholder='list, of, core, words'}}
      </div>
      {{#if revision.changes.location_based_words}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>{{revision.changes.location_based_words}}</p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'location_based_words'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='other_words'>{{t "Other Words" key='other_words'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='other_words' value=model.other_words class='form-control' placeholder='list, of, core, words'}}
      </div>
      {{#if revision.changes.other_words}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>{{revision.changes.other_words}}</p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'other_words'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="related_categories" class="col-sm-3 control-label">{{t "Related Categories and Fringe Topics" key='related_categories'}}</label>
      <div class="col-sm-5">
        {{input type='text' id='related_categories' value=model.related_categories class='form-control' placeholder="list, of, categories"}}
      </div>
      {{#if revision.changes.related_categories}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static'>{{revision.changes.related_categories}}</p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'related_categories'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="learning_projects" class="col-sm-3 control-label">
        {{t "Learning Projects" key='learning_projects'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "STEM or other learning projects that may encourage usage of the word" key='learning_projects_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{prompt-carousel entries=model.learning_projects type='description_with_link'}}
      </div>
      {{#if revision.changes.learning_projects}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.learning_projects type='learning_projects' revision_attribute='learning_projects' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="activity_ideas" class="col-sm-3 control-label">
        {{t "Activity Ideas" key='activity_ideas'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Quick or fun activities that may introduce speech opportunities" key='activity_ideas_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{prompt-carousel entries=model.activity_ideas type='description_with_link'}}
      </div>
      {{#if revision.changes.activity_ideas}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.activity_ideas type='activities' revision_attribute='activity_ideas' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="books" class="col-sm-3 control-label">
        {{t "Books" key='books'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Books that use the word or can be used to help prompt for the word" key='books_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{prompt-carousel entries=model.books type='book'}}
      </div>
      {{#if revision.changes.books}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.books type='books' revision_attribute='books' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="topic_starters" class="col-sm-3 control-label">
        {{t "Topic Starters" key='topic_starters'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Interesting pictures or photos that can prompt dialog or reactions" key='topic_starts_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{prompt-carousel entries=model.topic_starters type='topic_starter'}}
      </div>
      {{#if revision.changes.topic_starters}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.topic_starters type='topic_starters' revision_attribute='topic_starters' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="prompts" class="col-sm-3 control-label">
        {{t "Prompts" key='prompts'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Questions that can be used to prompt the communicator, and can also be incorporated into quizzes as needed" key='prompts_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{prompt-carousel entries=model.prompts type='prompt'}}
      </div>
      {{#if revision.changes.prompts}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.prompts type='prompts' revision_attribute='prompts' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="videos" class="col-sm-3 control-label">
        {{t "Videos" key='videos'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Any related YouTube videos" key='videos_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{prompt-carousel entries=model.videos type='video'}}
      </div>
      {{#if revision.changes.videos}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.videos type='videos' revision_attribute='videos' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="references" class="col-sm-3 control-label">{{t "References" key='references'}}</label>
      <div class='col-sm-5'>
        Links or justifications for content:<br/>
        {{textarea id='references' class='form-control' value=model.references rows=4 cols=30}}
      </div>
      {{#if revision.changes.references}}
        <div class='col-sm-4 revision'>
          <p class='form-control-static' style='white-space: pre-line;'>{{revision.changes.references}}</p>
          <button class='btn btn-default accept_revision' {{action 'accept_revision' 'references'}}><span class='glyphicon glyphicon-ok'></span></button>
        </div>
      {{/if}}
    </div>
    {{#if model.permissions.edit}}
      {{#unless revision}}
        <div class='form-group'>
          <label for="revision_credit" class="col-sm-3 control-label">{{t "Credit for This Revision" key='credit_for_this_revision'}}</label>
          <div class="col-sm-5">
            {{input type='text' id='revision_credit' value=model.revision_credit class='form-control' placeholder="leave blank to ignore"}}
          </div>
        </div>
      {{/unless}}
    {{else}}
      <div class='form-group'>
        <label for="attribution" class="col-sm-3 control-label">{{t "Attribution" key='attribution'}}</label>
        <div class="col-sm-5">
          <p class='form-control-static'>
            {{t "If your revision is accepted, you will be included as one of the authors for this content. Please note that submitted material will be released under a Creative Commons (CC-By) license by \"CoughDrop and additional authors\", which allows for commercial or non-commercial use with attribution." key='license_reminder'}}
            <a href='https://creativecommons.org/licenses/by/4.0/' target='_blank'>{{t "review CC-By license details here" key='review_cc_by_license'}}</a>
          </p>
        </div>
      </div>
    {{/if}}
    <div class='form-group'>
      <div class='col-sm-9 col-sm-offset-3'>
        <button class='btn btn-primary' type='submit' {{action 'save_with_credit'}} disabled={{status.saving}}>
          {{#if status.saving}}
            {{t "Saving Settings..." key='saving_settings'}}
          {{else if status.error}}
            {{t "Error Saving Settings" key='error_saving_settings'}}
          {{else}}
            {{#if revision.user_identifier}}
              {{t "Save With Credit to" key='save_with_credit_to'}}
              {{revision.user_identifier}}
            {{else}}
              {{t "Save Settings" key='save_settings'}}
            {{/if}}
          {{/if}}
        </button>
        {{#if revision}}
          <button class='btn btn-default' {{action 'save'}} disabled={{status.saving}}>
            {{t "Save Without Credit to" key='save_without_credit_to'}}
            {{revision.user_identifier}}
          </button>
        {{/if}}
        <button class='btn btn-default' type='button' {{action 'cancel'}}>{{t "Cancel" key='cancel'}}</button>
      </div>
    </div>
  </form>
{{/unless}}