<div>
{{#if model.image}}
  <div>
    <img src={{model.image.image_url}} class='fit_image' style={{image_style}} />
    <div style='margin-bottom: 20px;'>
      {{model.description}}
    </div>
  </div>
{{/if}}

<button class='btn btn-default'><span class='glyphicon glyphicon-print'></span> {{t "Printed Packet" key='printed_packer'}}</button>
<button class='btn btn-default'><span class='glyphicon glyphicon-random'></span> {{t "Choose an Activity For Me" key='chose_activity'}}</button>

<h2>{{t "Modeling Examples" key='modeling_examples'}}</h2>
{{phrase-categories entries=model.phrase_categories filter=modeling_level}}

<h2>{{t "Related Core Words" key='related_core_words'}}</h2>
<table class='table table-striped table-hover'>
  <thead>
  </thead>
  <tbody>
    <tr>
      <td style='width: 200px;'>{{t "verbs" key='verbs'}}</td>
      <td>{{#if model.verbs}}{{word-list list=model.verbs locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "adjectives" key='adjectives'}}</td>
      <td>{{#if model.adjectives}}{{word-list list=model.adjectives locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "adverbs" key='adverbs'}}</td>
      <td>{{#if model.adverbs}}{{word-list list=model.adverbs locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "pronouns" key='pronouns'}}</td>
      <td>{{#if model.pronouns}}{{word-list list=model.pronouns locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "determiners" key='determiners'}}</td>
      <td>{{#if model.determiners}}{{word-list list=model.determiners locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "time-based words" key='time_based_words'}}</td>
      <td>{{#if model.time_based_words}}{{word-list list=model.time_based_words locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "location-based words" key='location_based_words'}}</td>
      <td>{{#if model.location_based_words}}{{word-list list=model.location_based_words locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t "other words" key='other_words'}}</td>
      <td>{{#if model.other_words}}{{word-list list=model.other_words locale=model.locale}}{{else}}{{partial 'none-specified'}}{{/if}}</td>
    </tr>
  </tbody>
</table>

<h2>{{t "Additional Resources" key='additional_resources'}}</h2>
<ul class="nav nav-pills all_border" style='white-space: initial;'>
  <li role="presentation" class={{if current_activity.activities 'active'}}><a href="#" {{action 'set_activity' 'activities'}}>{{t "Activity Ideas" key='activities'}}</a></li>
  <li role="presentation" class={{if current_activity.books 'active'}}><a href="#" {{action 'set_activity' 'books'}}>{{t "Books" key='books'}}</a></li>
  <li role="presentation" class={{if current_activity.videos 'active'}}><a href="#" {{action 'set_activity' 'videos'}}>{{t "Videos" key='videos'}}</a></li>
</ul>
{{#if current_activity.list}}
  <div style='white-space: initial; max-width: 500px; margin-top: 10px;'>
    {{example-carousel entries=current_activity.list type=current_activity.type pin='pin'}}
  </div>
{{else}}
  <div style='padding: 30px 20px;'>
    {{partial 'none-specified'}}
  </div>
{{/if}}

<h2>{{t "Attribution and References" key='attribution_and_references'}}</h2>
<div style='max-width: 600px;'>
  {{t "This material is released by CoughDrop, Inc. and the authors listed under a" key='license_1'}}
  <a href='https://creativecommons.org/licenses/by/4.0/' target='_blank'>{{t "CC Attribution" key='cc_by'}}</a> {{t "license. You are free to use it in your own materials with proper attribution." key='license_2'}}<br/><br/>
</div>
{{#if model.approved_user_identifiers}}
  <strong>{{t "Attributed authors:" key='attributed_authors'}}</strong>
  <ul class='list-unstyled' style='margin-left: 20px;'>
  {{#each model.approved_user_identifiers as |id|}}
    <li>{{id}}</li>
  {{/each}}
  </ul>
{{/if}}
{{#if model.references}}
<div style='white-space: pre-line;'>
<strong>{{t "References:" key='references'}}</strong>
{{model.references}}
</div>
{{/if}}

</div>
{{#unless editing}}
  <div style='margin-top: 50px;'>
    {{#if model.permissions.edit}}
      <button class='btn btn-default' {{action 'edit'}}>{{t "Edit Category Settings" key='edit_category_settings'}}</button>
      {{#if model.revisions}}
        <div style='margin-top: 20px;'>
          {{t "Pending revisions submitted by:" key='pending_revisions_submitted_by'}}
          <div class='list-group' style='max-width: 250px;'>
            {{#each model.revisions as |rev|}}
              <a href="#" {{action 'set_revision' rev}} class='list-group-item'>{{rev.user_identifier}}</a>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{else if session.isAuthenticated}}
      <button class='btn btn-default' {{action 'edit'}}>{{t "Suggest Category Revisions" key='suggest_category_changes'}}</button>
      {{#if model.revisions}}
        <div style='margin-top: 20px;'>
          {{t "Pending revisions submitted by:" key='pending_revisions_submitted_by'}}
          <div class='list-group' style='max-width: 250px;'>
            {{#each model.revisions as |rev|}}
              <span class='list-group-item'>{{rev.user_identifier}}</span>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <h2 style='margin-top: 100px;'>{{t "Edit Category Settings" key='edit_category_settings'}}</h2>
  <form style='margin-top: 50px;' class='form-horizontal'>
    <div class="form-group">
      <label for="long_name" class="col-sm-3 control-label">{{t "Name" key='name'}}</label>
      <div class="col-sm-5">
        {{input type='text' id='long_name' value=model.long_name class='form-control'}}
      </div>
    </div>
    <div class="form-group">
      <label for="image_url" class="col-sm-3 control-label">{{t "Image" key='image_url'}}</label>
      <div class="col-sm-5">
        {{image-with-attribution image=model.image label=model.word update_image='update_image'}}
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-3 control-label">{{t "Description" key='description'}}</label>
      <div class="col-sm-5">
        {{input type='text' id='description' value=model.description class='form-control'}}
      </div>
    </div>
    <div class="form-group">
      <label for="related_core_words" class="col-sm-3 control-label">{{t "Related Core Words" key='related_core_words examples'}}</label>
      <div class="col-sm-2 control-label">
        <label for='verbs'>{{t "Verbs" key='verbs'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='verbs' value=model.verbs class='form-control' placeholder='list, of, core, words'}}
      </div>
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='adjectives'>{{t "Adjectives" key='adjectives'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='adjectives' value=model.adjectives class='form-control' placeholder='list, of, core, words'}}
      </div>
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='adverbs'>{{t "Adverbs" key='adverbs'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='adverbs' value=model.adverbs class='form-control' placeholder='list, of, core, words'}}
      </div>
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='pronouns'>{{t "Pronouns" key='pronouns'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='pronouns' value=model.pronouns class='form-control' placeholder='list, of, core, words'}}
      </div>
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='determiners'>{{t "Determiners" key='determiners'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='determiners' value=model.determiners class='form-control' placeholder='list, of, core, words'}}
      </div>
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='time_based_words'>{{t "Time-Based Words" key='time_based_words'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='time_based_words' value=model.time_based_words class='form-control' placeholder='list, of, core, words'}}
      </div>
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='location_based_words'>{{t "Location-Based Words" key='location_based_words'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='location_based_words' value=model.location_based_words class='form-control' placeholder='list, of, core, words'}}
      </div>
      <div style='clear: left;'></div>

      <div class="col-sm-2 col-sm-offset-3 control-label">
        <label for='other_words'>{{t "Other Words" key='other_words'}}</label>
      </div>
      <div class='col-sm-3'>
        {{input type='text' id='other_words' value=model.other_words class='form-control' placeholder='list, of, core, words'}}
      </div>
    </div>

    <div class="form-group">
      <label for="phrase_categories" class="col-sm-3 control-label">
        {{t "Modeling Examples" key='modeling_examples'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Different types of phrases, from questions to choice-making to observations, can use leverage core words and phrases" key='phrase_categories_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{phrase-categories entries=model.phrase_categories edit=true}}
      </div>
    </div>

    <div class="form-group">
      <label for="related_categories" class="col-sm-3 control-label">{{t "Related Categories and Fringe Topics" key='related_categories'}}</label>
      <div class="col-sm-5">
        {{input type='text' id='related_categories' value=model.related_categories class='form-control' placeholder="list, of, categories"}}
      </div>
    </div>

    <div class="form-group">
      <label for="activity_ideas" class="col-sm-3 control-label">
        {{t "Activity Ideas" key='activity_ideas'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Quick or fun activities that may introduce speech opportunities" key='activity_ideas_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{prompt-carousel entries=model.activity_ideas type='description_with_link'}}
      </div>
      {{#if revision.changes.activity_ideas}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.activity_ideas type='activities' revision_attribute='activity_ideas' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="books" class="col-sm-3 control-label">
        {{t "Books" key='books'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Books that use the word or can be used to help prompt for the word" key='books_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{prompt-carousel entries=model.books type='book'}}
      </div>
      {{#if revision.changes.books}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.books type='books' revision_attribute='books' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="videos" class="col-sm-3 control-label">
        {{t "Videos" key='videos'}}
        <div class='text-muted' style='font-weight: normal;'>{{t "Any related YouTube videos" key='videos_explainer'}}</div>
      </label>
      <div class="col-sm-5">
        {{prompt-carousel entries=model.videos type='video'}}
      </div>
      {{#if revision.changes.videos}}
        <div class='col-sm-4 revision'>
          {{example-carousel entries=revision.changes.videos type='videos' revision_attribute='videos' update_revision_object='update_revision_object'}}
        </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="references" class="col-sm-3 control-label">{{t "References" key='references'}}</label>
      <div class='col-sm-5'>
        Links or justifications for content:<br/>
        {{textarea id='references' class='form-control' value=model.references rows=4 cols=30}}
      </div>
    </div>

    <div class='form-group'>
      <div class='col-sm-5 col-sm-offset-3'>
        <button class='btn btn-primary' type='submit' {{action 'save'}} disabled={{status.saving}}>
          {{#if status.saving}}
            {{t "Saving Settings..." key='saving_settings'}}
          {{else if status.error}}
            {{t "Error Saving Settings" key='error_saving_settings'}}
          {{else}}
            {{t "Save Settings" key='save_settings'}}
          {{/if}}
        </button>
        <button class='btn btn-default' type='button' {{action 'cancel'}}>{{t "Cancel" key='cancel'}}</button>
      </div>
    </div>
  </form>
{{/unless}}